html, body {
	margin: 0;
	padding: 0;

	height: 100%;

	background: linear-gradient(to bottom, #68A, #357) no-repeat center;
	background-size: cover;

	overflow: hidden;
}

:root {
	color: #345;
	font-family: 'JetBrains Mono', 'Courier New', 'Courier', monospace;
	font-size: 1.5vmin;
}

.box {
	background-color: #def;
	border: 0.032em solid #abc;
	border-radius: 1em;
	box-sizing: border-box;
	padding: 0.75em;
}

.box-inner {
	color: #567;
	background-color: #bcd;
	border-radius: 1em;
	box-sizing: border-box;
	padding: 0.75em;
}

#popup {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .4);
}

#popup.hide {
	display: none;
}

#popup #popup-box {
	position: fixed;
	top: 50%;
	left: 50%;

	padding: 1.5em;
	min-width: 25%;
	max-width: 45%;
	max-height: 85%;
	overflow-y: auto;

	transform: translate(-50%, -50%);
}

textarea, input[type=text], select {
	outline: none;
	resize: none;
	width: 100%;
	padding: 0.75em;

	box-sizing: border-box;
	background-color: #cde;
	border-radius: 1em;
	border: 0 solid transparent;

	font-family: 'JetBrains Mono', 'Courier New', 'Courier', monospace;
	font-size: 1.5vmin;
}

textarea:hover, input[type=text]:hover, select:hover {
	background-color: #bcd;
}

textarea:focus, input[type=text]:focus, select:focus {
	background-color: #abc;
}

textarea[readonly], input[type=text][readonly] {
	background-color: #9ab;
}

code {
	background-color: #cde;
	color: #234;
	font-weight: bold;
}

.button-set {
	display: flex;

	flex-wrap: nowrap;

	align-items: stretch;

	justify-content: center;
}

.button-set.row {
	flex-direction: row;
}

.button-set.col {
	flex-direction: column;
}

input[type=submit] {
	font-family: 'JetBrains Mono', 'Courier New', 'Courier', monospace;
	font-size: 1.5vmin;

	background-color: #abc;
	border-radius: 1em;
	border: 0 solid transparent;
	box-sizing: border-box;

	color: #012;
}

input[type=submit]:hover {
	background-color: #89a;
}

input[type=submit]:active {
	background-color: #678;
}

input[type=submit]:disabled {
	background-color: #9ab;
	color: #678;
}

.button-set a {
	margin: 0.25em;
	padding: 0.75em;

	background-color: #abc;
	border-radius: 1em;
	border: 0 solid transparent;
	box-sizing: border-box;

	text-decoration: none;
	color: #012;
}

.button-set a:hover {
	background-color: #89a;
	text-decoration: none;
}

.button-set a:active {
	background-color: #678;
	text-decoration: none;
}

.button-set a:visited {
	color: #012;
	text-decoration: none;
}

.button-set a.disabled {
	background-color: #89a;
	color: #456;
	cursor: not-allowed;
}

.button-set a.disabled:hover {
	background-color: #89a;
}

.button-set a.disabled:active {
	background-color: #89a;
}

.button-set a.disabled:visited {
	color: #456;
}

.error {
	color: #c00;
}

#chat-box {
	position: fixed;
	bottom: 1.5em;
	left: 1.5em;

	width: 30%;
	height: 20%;

	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
}

#chat-history {
	flex-grow: 1;
	width: 100%;

	margin-bottom: 0.5em;
	overflow-y: scroll;
}

#chat-entry {
	width: 100%;
	flex-grow: 0;
	flex-basis: 25%;

	margin-top: 0.5em;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

#chat-input {
	flex-grow: 1;
	margin-right: 0.5em;
}

#chat-send {
	flex-basis: 15%;
	flex-grow: 0;
	margin-left: 0.5em;
}

#game-field {
	margin: 0;
	padding: 0;
}

.game-piece .game-piece-back {
	fill: rgba(0, 0, 0, 0.2);
}

.game-piece[data-selected-piece] .game-piece-back {
	fill: rgba(0, 0, 0, 0.6);
}

.game-piece-pick-halo {
	stroke: rgb(0, 153, 0);
}

.game-piece-pick-halo:hover {
	stroke: rgb(102, 255, 102);
}

#piece-selection {
	position: fixed;
	top: 1.5em;
	right: 1.5em;

	width: 20%;
	min-height: 70%;
}

#piece-selection p.all-info {
	text-align: center;
	vertical-align: center;

	margin: auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#piece-selection p.info {
	text-align: center;
}

.measure-bar {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: row;
}

.measure-bar .meter {
	display: inline-block;
	flex-grow: 1;
}

.measure-bar .meter.red-green {
	background: linear-gradient(to right, #c44, #4c4);
	padding: 0;
	height: 1em;
}

.measure-bar .meter.blue-gradient {
	background: linear-gradient(to right, #369, #5af);
	padding: 0;
	height: 1em;
}

.measure-bar .meter.purple-gradient {
	background: linear-gradient(to right, #639, #a5f);
	padding: 0;
	height: 1em;
}

.measure-bar .meter.orange-blue {
	background: linear-gradient(to right, #c84, #48c);
	padding: 0;
	height: 1em;
}

.measure-bar .meter .emptiness {
	display: inline-block;
	background-color: #000;
	margin: 0;
	height: 1em;
	float: right;
}

#help-text {
	text-align: center;
	vertical-align: center;

	color: #fff;
	text-shadow: 0 0 0.25em #000;

	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	table-layout: fixed;
}

td, th {
	border: 0.1em solid #9ab;
	margin: 0.3em;
}
